<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/site_media/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
        }
        .intro
        {
            line-height:15px;
        }
        .left_tip
        {
            width:200px;
            font-size:12px;
            color:#666;
        }
    </style>
    <link href="/site_media/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/site_media/img/icon.ico" />
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li ><a href="/">首页</a></li>
          <li ><a href="/market">二手市场</a></li>
          <li><a href="/rules">服务规约</a></li>
          <li><a href="/contact">联系我们</a></li>
        </ul>
        <h3 class="muted" style='color:#222;'><img width=20 height=20 style='margin-right:10px;' src='/site_media/img/icon.png'>
               中南财经政法大学二手市场</h3>
      </div>
      <ul class="breadcrumb">
          <li><a href="/">首页</a> <span class="divider">/</span></li>
          <li class="active">物品详情</li>
        </ul>
      <hr>
      <div class='span12' style='margin-left:0px;'>
          <div class = 'span6'>
            <div class='span6' style='margin-left:0px;'>
              <div class='span2' style='width:100px;'>
                  <img src='/site_media/img/pro1.jpg'>
              </div>
              <div class='span4' style='padding:4px;'>
                  <p class='intro'>
                    <span class='left_tip'>名称</span>
                    <span> 洗衣机 </span>
                  </p>
                  <p class='intro'>
                  <span class='left_tip'>交易地点</span>
                  <span> 南湖校区 </span>
                  </p>
                  <p class='intro'>
                  <span class='left_tip'>发布时间</span>
                  <span>2013-11-20 </span>
                  </p>
                  <p class='intro'>
                  <span class='left_tip'>手机</span>
                  <span> 15071013512 </span>
                  </p>
                  <p class='intro'>
                  <span class='left_tip'>QQ</span>
                  <span> 412062385 </span>
                  </p>
                  <p class='intro'>
                  <span class='left_tip'>发布者</span>
                  <span> Aron </span>
                  </p>
                  <p class = 'intro'>
                  <span class = 'left_tip'> 浏览次数 </span>
                  <span> 11 </span>
                  </p>
              </div>
            </div>
            <div class  = 'span7'>
              <div class = 'span6' style='margin-left:0px;'>
                  <span>| <font style='color:#825d5b;font-weight:bold;'>物品信息</font> |</span>你好思考副教授了空间费卢卡斯经费
              </div>
              <div class = 'span6' style = 'margin-left:0px;'>
                  
                      <span>| <font style='color:#825d5b;font-weight:bold;'>留言信息</font> |</span>
                 
                  <div class = 'span5' style = 'font-size:12px;'>
                      <div style='border-bottom:1px dashed #ddd;'>
                          <p>
                          2013-10-23 10:22:22 你好: 
                          桑德菲杰考到了发
                          </p>
                      </div>
                  </div>
              </div>
              <div class = 'span6' style = 'margin-left:0px;margin-top:30px;'>
                <form>
                    <textarea type="text" style='width:400px;height:100px;' placeholder="Type something…">
                    </textarea></br>
                    <input type="submit" class="btn" value='评论'>
                    
                </form>
                      
              </div>
              
          </div>
            </div>
            <div class = 'span3'>
                相似物品
          </div>
      </div>
      
      </div>
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/site_media/js/jquery.js"></script>
    <script src="/site_media/js/bootstrap-transition.js"></script>
    <script src="/site_media/js/bootstrap-alert.js"></script>
    <script src="/site_media/js/bootstrap-modal.js"></script>
    <script src="/site_media/js/bootstrap-dropdown.js"></script>
    <script src="/site_media/js/bootstrap-scrollspy.js"></script>
    <script src="/site_media/js/bootstrap-tab.js"></script>
    <script src="/site_media/js/bootstrap-tooltip.js"></script>
    <script src="/site_media/js/bootstrap-popover.js"></script>
    <script src="/site_media/js/bootstrap-button.js"></script>
    <script src="/site_media/js/bootstrap-collapse.js"></script>
    <script src="/site_media/js/bootstrap-carousel.js"></script>
    <script src="/site_media/js/bootstrap-typeahead.js"></script>

  </body>
</html>
