<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/site_media/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
        
    }
    .product_style
    {
        width:100px;
    } 
    
    </style>
    <link href="/site_media/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li ><a href="/">首页</a></li>
          <li ><a href="/market">二手市场</a></li>
          <li><a href="/rules">服务规约</a></li>
          <li><a href="/contact">联系我们</a></li>
        </ul>
        <h3 class="muted" style='color:#222;'><img width=20 height=20 style='margin-right:10px;' src='/site_media/img/icon.png'>
               中南财经政法大学二手市场</h3>
      </div>
        <ul class="breadcrumb">
          <li><a href="/">首页</a> <span class="divider">/</span></li>
          <li class="active">注册</li>
        </ul>

      <hr>
      <div class='span12'>
          <div class = 'span5' style = 'margin-left:0px;'>
          <form action='' method = 'POST'>
              {% csrf_token %}
              <fieldset>
                  <label>邮箱</label>
                  <input type = 'text' name = 'email'>
                  <label>密码</label>
                  <input type = 'text' id='f_p' name = 'password'>
                  <label>确认密码</label>
                  <input type = 'text' id = 'c_p'>
            <label>昵称</label>
            <input type="text" name ='nickname' placeholder="Type something…">
            
            <label>真实姓名</label>
            <input type="text" name='realname' placeholder="Type something…">
            <label>学院</label>
            <select>
                <option value = 'sell'>售卖</option>
                <option value = 'rent'>租赁</option>
            </select>
            <label>个人简介</label>
            <textarea style='width:300px;height:200px;'></textarea>
            <label>通讯地址</label>
            <select>
                <option>value</option>
                <option>value</option>
                <option>value</option>
            </select>    
            <label>联系方式</label>
            QQ   :<input type = 'text' name = 'qq'></br>
            手机:<input type = 'text' name = 'phone'>
            </br>
            </br>
            <input type = 'submit' class='btn' value = '注册'>
          </fieldset>
            </form>
            </div>
            <div class = 'span4' style='font-size:12px;'>
                <p>
                >已经有二手市场账号?  <a href='/login'> 直接登陆</a>
                </p>
                    
            </div>      
          
      </div>
      
      
      <hr>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/site_media/js/jquery.js"></script>
    <script src="/site_media/js/bootstrap-transition.js"></script>
    <script src="/site_media/js/bootstrap-alert.js"></script>
    <script src="/site_media/js/bootstrap-modal.js"></script>
    <script src="/site_media/js/bootstrap-dropdown.js"></script>
    <script src="/site_media/js/bootstrap-scrollspy.js"></script>
    <script src="/site_media/js/bootstrap-tab.js"></script>
    <script src="/site_media/js/bootstrap-tooltip.js"></script>
    <script src="/site_media/js/bootstrap-popover.js"></script>
    <script src="/site_media/js/bootstrap-button.js"></script>
    <script src="/site_media/js/bootstrap-collapse.js"></script>
    <script src="/site_media/js/bootstrap-carousel.js"></script>
    <script src="/site_media/js/bootstrap-typeahead.js"></script>

  </body>
</html>
